// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.family{
  font-family: "Gill Sans", sans-serif;
  font-weight:bold;
}

.margin{
  margin-top:20px;
}